
/*General styles*/
* {


    font-family: 'Inconsolata', monospace;
    color: black;

}

/*Header styles*/
body{
    overflow-y: scroll;
    
}

.topnav{
    overflow:visible;
}

.topnav-right{
    float : right;
    padding-top: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.topnav a:hover{
    color:blue;
}

.topnav a, a:visited, a:active{
    text-decoration: none;
    color: black;
}


/*Main body styles*/
.mainbody{

    color:black;
    text-align :center;
    text-align: left;
    
}
.mainbody p{

    color:black;
}

.mainbody h1, h2, h3{

    color: black;
}

.mainbody a{

    color:blue;
    
}

.mainbody a:hover{
    color:purple;
    text-decoration: none;
}

.mainbody a:visited{
    color:blue;
}



/*Footer styles*/
.footerbar{

    overflow:hidden;
    text-align:center;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 30px;

}

.footerbar a{

    text-align: center;
    padding-inline-end: 10px;
    padding-top : 10px;

}

.footerbar p{

    color:black;

}



