
/*General styles*/
* {


    font-family: 'Inconsolata', monospace;
    color: black;


}

html{
    scroll-behavior: smooth;
}

/*Header styles*/
body{
    overflow-y: scroll;
    
}

.topnav{
    overflow:visible;
}

.topnav-right{
    float : right;
    padding-top: 15px;
    text-align: center;
    padding-inline-end: 5px;

}

.topnav-right a{
    padding-right: 10px;
}

.topnav a:hover{
    color:black;
}

.topnav a, a:visited{
    text-decoration: none;
    color: blue;
}


/*Main body styles*/
.intro{

    color:black;
    padding-top: 150px;
    text-align :center;
    text-decoration: none;
    
}

.intro p{

    color:black;
    font-weight: 800;

}

.intro h1, h3{

    color: black;

}

.intro a, a:visited{

    color:blue;
    
}

.intro a:hover{
    color:black;
    
}

.imagelinks{
    text-align: center;
    padding-top: 20px;
    padding-inline-end: 15px;
}


#intropane{
    height: 502px;
    background-color: white;
}

#projectpane{
    height: 400px;
    background-color: blue;
}



/*Footer styles*/
.footerbar{

    overflow:hidden;
    text-align:center;
    padding-bottom: 20px;
    margin-top: 20px;

}

.footerbar a, a:visited, a:hover, a:active{

    color:black;
    text-align: center;
    padding-inline-end: 15px;
    padding-top : 10px;

}

.footerbar p, h3{

    color:black;

}



