
/*General styles*/
* {


    font-family: 'Inconsolata', monospace;
    color: black;


}

html{
    scroll-behavior: smooth;
}

/*Header styles*/
body{
    overflow-y: scroll;
    
}

.topnav{
    overflow:visible;
}

.topnav-right{
    float : right;
    padding-top: 15px;
    text-align: center;
    margin-inline-end: 100px;
}

.topnav-right a:hover{
    padding-right: 10px;
    color:black; 
    text-decoration: underline;
}

.topnav-right a, a:visited, a:active{ 
    padding-right: 10px;
    color: blue;
    text-decoration: none;
}


/*Main body styles*/
.intro{

    color:black;
    padding-top: 150px;
    text-align :center;
    
}

.intro p{

    color:black;
    font-weight: 800;

}

.intro h1, h3{

    color: black;

}

.intro a, a:visited, a:active{

    color:blue;
    text-decoration: none;
    
}

.intro a:hover{
    color:black;
    text-decoration: underline;
}

.imagelinks{
    text-align: center;
    padding-top: 20px;
    margin-right: 10px;
}


#intropane{
    height: 502px;
    background-color: white;
}

#projectpane{
    height: 400px;
    background-color: blue;
}



/*Footer styles*/
.footerbar{

    overflow:hidden;
    text-align:center;
    padding-bottom: 20px;
    margin-top: 20px;

}

.footerbar a, a:visited, a:active{

    color:blue;
    text-align: center;
    /*padding-inline-end: 15px;
    padding-top : 10px;*/
    text-decoration: none;

}

.footerbar a:hover{
    color:grey;
    text-decoration: underline;
    text-decoration-color: ;
}

.footerbar p, h3{

    color:black;
    
}



